[Unit]
Description=Netlify-Github OAuth Service
After=network.target

[Service]
User=netlifyoauth
Group=netlifyoauth
ExecStart=python3 -m uvicorn --host 0.0.0.0 --port 8080 netlifycms_oauth_github_provider:app
WorkingDirectory=/var/lib/netlifyoauth
Restart=on-abort

ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
PrivateTmp=true
InaccessibleDirectories=/root /sys -/opt /media -/lost+found /home
ReadWriteDirectories=/var/lib/netlifyoauth

[Install]
WantedBy=multi-user.target
